@typeparam TItem
<div class="table-responsive-md">
    <table class="table table-bordered table-md">
        <thead>
            <tr>@TableHeader</tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>@RowTemplate(item)</tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public RenderFragment TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }

    [Parameter]
    public IReadOnlyList<TItem> Items { get; set; }
}